body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right,  rgba(243,32,250,1)0%, rgba(65,200,229,1) 100%);
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.white-space{
    margin-top: 20vw;
}