/* color scheme */
/* donkerder groen : #61892F */
/* groen : #86C232 */
/* zwartgrijs : #222629 */
/* lichter grijs : #474B4F */
/* licht grijs : #6B6E70 */
/* color: #b0f155; */

/* body en site layout */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222629;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 40px;
    
}
/* header layout */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.logo-ascii{
    color: #86C232;
    font-size: 10px;
}
/* nav hamburger menu*/
#hamburger{
    font-size: 30px;
    margin-top: 12px;
    cursor: pointer;
    transition: all .6s;
    color: #86C232;
}

.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #474B4F;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .6s;
}

.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: #61892F;
    display: block;
}

.sidemenu a:hover{
    color: #86C232;
}

.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin: 36px;
    color: #86C232;
}

#actueel{
    color: #86C232;
}

/* login button */
.login{
    background-color: #86C232;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}


/* login en register form style */
.login-form{
    color: #86C232;
    margin-top: 15vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.login-explain{
    margin-top: 5px;
    margin-bottom: 10px;
}


.form-field{
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #474B4F;
    color: black;
    font-size: 16px;
}

.login-links{
    color: #86C232;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link{
    color: #86C232;
    padding-left: 5px;
    padding-right: 5px;
}

.login-foot{
    margin-top: 10px;
}

.login-button{
    margin-top: 5px;
    background-color: #86C232;
    border-radius: 15px;
    border: none;
    padding: 8px;
    color: black;
    font-size: 18px;
}

/* kleur van ascii art */
.login-ascii{
    color: #86C232;
}
/* animatie hacking.... */

#animation-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#text-loading{
    position: relative;
    font-size: 10vw;
    color: #222629;
    -webkit-text-stroke: 0.2vw #474B4F;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
}

#text-loading::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #86C232;
    -webkit-text-stroke: 0.2vw #86C232;
    border-right: 2px solid #86C232;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}


/* challenges pagina css */

.challenges{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 15vw;
    flex-wrap: wrap;
}

.challenge{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px; 
    border-color: #474B4F;
    margin: 10px;
    color: white;
    width: 290px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    
}

.challenge h1 {
    padding-bottom: 20px;
}

.attempt-button{
    background-color: #86C232;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

/* scoreboard css */

.scoreboard-top3{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 10vw;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-end;
    color: #86C232;
}

.tribune{
    margin: 2px;
}

.top2{
    width: 300px;
    background-color: #86C232;
    height: 200px;
    border-radius: 30px 30px 5px 5px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top1{
    width: 300px;
    height: 300px;
    background-color: #86C232;
    border-radius: 30px 30px 5px 5px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top3{
    width: 300px;
    height: 100px;
    background-color: #86C232;
    border-radius: 30px 30px 5px 5px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table desing voor score board */

.table-top50{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 2vw;
    flex-wrap: wrap;
    color: #86C232;
}

.table-top50 table{
    border-color: #86C232;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px; 
    width: 100px;
}

.table-top50 table th, td{
    border-style: solid;
    border-color: #86C232;
}

/* gebruik dit voor layout die midden op het scherm moet*/
.midden-scherm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    text-align: center;
    color: #86C232;
}


.start-login{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #86C232;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

.start{
    position: absolute;
    top: 500px;
    right: 40%%;
    background-color: #86C232;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

.return{
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: #222629;
    font-size: 30px;
    color: #86C232;
    cursor: pointer;
}

.logo-reset{
    margin-top: 50px;
    margin-left: 30%;
    color: #86C232;
    font-size: 10px;
}
