body {
    /* Achtergrond kleur */
    background-color: purple;
    /* De soort rand, in dit geval volledig gevuld */
    border-style: solid;
    /* De kleur van de rand */
    border-color: black;
    /* De breedte van de rand */
    border-width: 5px;
    /* De breedte */
    width: 1250px;
    /* De marge naar links */
    margin-left: auto;
    /* De marge naar rechts */
    margin-right: auto;
    /* De lettertype stylen */
    font-family: Helvetica, Arial, sans-serif;
}

a {
    /* Een decoratie toevoegen */
    text-decoration: bold;
    /* Een kleur geven */
    color: red;
}

h1, h2, h3 {
    /* Een marge geven */
    margin: 0;
}

/* De id open om het op te maken */
#container {
    background-color: white;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: orange;
    color: black;
    /* De hoogte */
    height: 200px;
    /* Waar de text komt te staan */
    text-align: center;
    /* Hoeveel opvulling er omheen is */
    padding: 10px;
    /* Alleen een rand aan de onderkant */
    border-bottom: 5px solid black;
}

#foto1 {
    /* Aan welke zijde het hoort te komen */
    float: left;
}

#foto2 {
    float: right;
}

#foto4 {
    text-align: center;
}


#foto7 {
    text-align: center;
}

#login {
    width: 1000px;
    height: 400px;
    padding: 10px;
    text-align: left;
}

#nav {
    width: 200px;
    padding: 10px;
    float: right;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 5px 5px;
}

    #nav ul {
        /* Welke style de list moet krijgen */
        list-style-type: none;
        padding: 0;
    }

#main {
    width: 1000px;
    height: 400px;
    padding: 10px;
    text-align: left;
}



#footer {
    /* Dit zorgt dat het onder het gene komt wat er boven zat */
    clear: both;
    padding: 10px;
    background-color: grey;
    color: white;
    text-align: right;
    /* Alleen een rand aan de bovenkant */
    border-top: 5px solid black;
}